# Active les liens symboliques
Options +FollowSymlinks

# Active le module d'écriture
RewriteEngine on

# Règle de réécriture
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ /PortefolioBlog/public/index.php [L,QSA]

