// Personalisation bootstrap

// import préalable obligatoire
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

// Creation nouvelle couleur + redefinition
$custom-colors: (
        "primary" :#5352ed,
        "secondary": #70a1ff,
        "success": #2ed573,
        "info": #7bed9f,
        "warning": #ff7f50,
        "danger": #ff4757,
        "light": #ced6e0,
        "dark": #2f3542,
        "corp": #f1f2f6,
        "Bcorp" : #FDEFF4,
        "Bprimary" : #FF5C8D,
        "Bsecondary" : #FFC0D3
);

// Merge maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap";


// Regle specifique
html, body {
  font-family: 'Mulish', sans-serif;
}

header {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.container {
  width: 900px;
  margin: auto;
}

